<dialog id="file-detail-<%= file.id %>" closedby="any">
  <h4>이름: <%= file.originalName %></h4>
  <p>크기: <%= file.size %> bytes</p>
  <p>업로드 날짜: <%= file.createdAt %></p>
  <a href="<%= file.path %>" target="_blank" rel="noreferrer noopener">
    <button>다운로드</button>
  </a>
</dialog>