<main class="folder detail">
  <header>
    <h2><%= folder.name %></h2>
    <button type="button" command="show-modal" commandfor="update-folder">폴더 이름 변경</button>
  </header>
  <div class="info">
    <p>폴더 아이디: <%= folder.id %></p>
    <p>생성 날짜: <%= folder.createdAt %></p>
    <button type="button" command="show-modal" commandfor="upload-file">파일 추가</button>
    <section>
      <h3>파일목록</h3>
    </section>
  </div>
  <%- include("../partials/folders") %>
</main>
<%- include("../dialogs/update-folder") %>
<%- include("../dialogs/upload-files") %>