<main class="folder detail">
  <header>
    <h2><%= folder.name %></h2>
    <div class="button-container">
      <button type="button" command="show-modal" commandfor="update-folder">폴더 이름 변경</button>
      <form action="/storage/folder/<%= folder.id %>/delete" method="post">
        <button type="submit" onclick="return confirm('정말 삭제할까요? 보관된 파일도 같이 삭제됩니다.')">삭제</button>
      </form>
    </div>
  </header>
  <div class="info">
    <p>생성 날짜: <%= folder.createdAt %></p>
    <button type="button" command="show-modal" commandfor="upload-file">파일 추가</button>
    <section class="files">
      <h3>파일</h3>
      <ul>
        <% folder.files.forEach(file => { %>
        <li>
          <span><%= file.originalName %></span>
          <div class="button-container">
            <button type="button" command="show-modal" commandfor="file-detail">상세정보</button>
            <button>이름 변경</button>
            <button>삭제</button>
          </div>
        </li>
        <dialog id="file-detail" closedby="any">
          <h4>이름: <%= file.originalName %></h4>
          <p>크기: <%= file.size %> bytes</p>
          <p>업로드 날짜: <%= file.createdAt %></p>
          <form action="/storage/folder/<%= folder.id %>/file/<%= file.id %>/download/?path=<%= file.path %>&name=<%= file.originalName %>" method="post">
            <button>다운로드</button>
          </form>
        </dialog>
        <% }) %>
      </ul>
    </section>
  </div>
  <%- include("../partials/folders") %>
</main>
<%- include("../dialogs/update-folder") %>
<%- include("../dialogs/upload-files") %>